<!DOCTYPE html>
<html>
  <head>
    <title>Kenzan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <table>
      <tr><td>Index</td><td>Login(out)</td></tr>
    </table>
  </div>
  <div><%= yield %></div>
  <div>Copyright footer 2017 etc. etc. etc.</div>

  </body>
</html>
